*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidereset    {
    display: none;
}
.displayreset{
    display: block;
}
.divs{
    display: flex;
    justify-content: center;
}
.divs button{
    font-size: 2rem;
    padding: 1rem 3rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    background-color: purple;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 5px 4px 2px 0px rgb(241, 144, 241);
    
}
.divs button:hover{
    /* transition: 0.5s  ease-in; */
    transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 0.9;
    box-shadow: none;
}
